<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eBay Impulse Buy Generator</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>I'll Buy That for a Dollar!</h1>

        <div class="lead">
          <p>eBay Impulse Buy Generator</p>

          <form>
            <input id="search" type="text" placeholder="Search eBay">
            <input id="submit" type="submit" value="Search" class="btn btn-primary">
            <button id="history" class="btn btn-info">Show History</button>
          </form>
        </div>
      </div>

      <div id="results" class="row"></div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../store.js"></script>
    <script src="../models/item.js"></script>
    <script src="../adapters/ebay_adapter.js"></script>
    <script src="../controllers/items.controller.js"></script>
    <script src="../app.js"></script>
  </body>
</html>
